.stock-container {
  display: flex;
  gap: 20px;
  background: black;
  padding: 50px;
}

.stock-card {
  position: relative;
}

.stock-rect {
  width: 120px;
  height: 200px;
  background: #666;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.stock-value {
  color: #aaa;
  font-size: 20px;
}

.stock-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 200px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-mask-image: linear-gradient(white, white);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(white, white);
  mask-repeat: no-repeat;
  mask-size: cover;
}
